<!--
  @description       : 
  @author            : mishramayank@concret.io
  @group             : 
  @last modified on  : 12-04-2020
  @last modified by  : ChangeMeIn@UserSettingsUnder.SFDoc
  Modifications Log 
  Ver   Date         Author                               Modification
  1.0   12-02-2020   mishramayank@concret.io                Initial Version
-->
<template>
  <!-- calling custom child component -->
  <c-custom-toast></c-custom-toast>

  <article class="slds-card">
    <lightning-tabset>
      <lightning-tab
        label="Account"
        value="Account"
        onactive={handleSobjectChange}
      >
      </lightning-tab>
      <lightning-tab
        label="Contact"
        value="Contact"
        onactive={handleSobjectChange}
      >
      </lightning-tab>
      <lightning-tab label="Lead" value="Lead" onactive={handleSobjectChange}>
      </lightning-tab>
      <lightning-tab
        label="Opportunities"
        value="Opportunity"
        onactive={handleSobjectChange}
      >
      </lightning-tab>
    </lightning-tabset>

    <div class="slds-card__header slds-grid">
      <div class="slds-media__body">
        <h2 class="slds-card__header-title">
          <span>Total Records: {recordlen}</span>
          <span class="slds-m-left_medium">
            Selected Records: {selectedrowslen}
          </span>
        </h2>
      </div>

      <div class="slds-no-flex">
        <lightning-button
          variant="brand-outline"
          label="New"
          title="Primary action with lighter look"
          onclick={showHideSobjectModal}
          class="slds-m-left_x-small"
        ></lightning-button>
        <lightning-button
          variant="brand"
          label="Delete"
          title="Primary action"
          disabled={isdelete}
          onclick={handleDelete}
          class="slds-m-left_x-small"
        ></lightning-button>
      </div>
    </div>
  </article>

  <!-- calling custom Modal component -->
  <template if:true={isModalOpen}>
    <c-create-sobject-modal
      onsuccess={sobjectAdded}
      onclose={showHideSobjectModal}
      object-api-name={searchKey}
    ></c-create-sobject-modal>
  </template>

  <lightning-datatable
    data={recordstodisplay}
    columns={columns}
    key-field="Id"
    onrowselection={getSelectedName}
    show-row-number-column="false"
  >
  </lightning-datatable>

  <template if:true={isnodata}>
    <lightning-spinner
      alternative-text="Loading"
      size="large"
    ></lightning-spinner>
  </template>

  <!-- Footer -->
  <div
    class="slds-grid slds-gutters slds-theme_default slds-m-bottom_x-large slds-text-align_center slds-m-horizontal_xxx-small"
  >
    <div class="slds-col slds-m-top_large slds-size_4-of-12 slds-clearfix">
      <div class="slds-float_left">{recordlen} Items | Page {pageNumber}</div>
    </div>

    <div
      class="slds-col slds-m-top_large slds-size_4-of-12 slds-text-heading_medium"
    >
      <lightning-button-icon
        icon-name="utility:chevronleft"
        class="slds-m-right_small"
        disabled={isdisabledprev}
        onclick={previousPage}
      >
      </lightning-button-icon>
      <ul class="slds-button-group-row">
        <template for:each={pagestodisplay} for:item="pageNumber">
          <li class="slds-button-group-item" key={pageNumber}>
            <div
              data-id={pageNumber}
              class="pagination slds-button_neutral"
              onclick={onPageClick}
            >
              {pageNumber}
            </div>
          </li>
        </template>
      </ul>
      <lightning-button-icon
        icon-name="utility:chevronright"
        class="slds-m-left_small"
        disabled={isdisablednext}
        onclick={nextPage}
      ></lightning-button-icon>
    </div>
    <!-- Brand variant: Identifies the primary action in a group of buttons -->
    <div class="slds-col slds-size_4-of-12 slds-clearfix">
      <div class="slds-float_right">
        Records to display
        <lightning-combobox
          name="Number Of Records"
          value={recordsperpage}
          placeholder={recordsperpage}
          options={options}
          onchange={handleChange}
        ></lightning-combobox>
      </div>
    </div>
  </div>
</template>
