<!--
  @description       : 
  @author            : mishramayank@concret.io
  @group             : 
  @last modified on  : 12-04-2020
  @last modified by  : ChangeMeIn@UserSettingsUnder.SFDoc
  Modifications Log 
  Ver   Date         Author                               Modification
  1.0   12-02-2020   mishramayank@concret.io                Initial Version
-->
<template>
    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
        <div class="slds-modal__container">
            <!-- Modal/Popup Box LWC header here -->
            <header class="slds-modal__header">
                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeCreateModal}>
                    <lightning-icon icon-name="utility:close"
                        alternative-text="close"
                        variant="inverse"
                        size="small" ></lightning-icon>
                    <span class="slds-assistive-text">Close</span>
                </button>
                <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">New {objectApiName}</h2>
            </header>
            <!-- Modal/Popup Box LWC body starts here -->
            <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                <template if:true={isnodata}>
                    <div class="exampleHolder">
                    <lightning-spinner alternative-text="Loading" size="medium"></lightning-spinner>
                    </Div>
                </template>
                <template if:false={isnodata}>
                <lightning-record-edit-form object-api-name={objectApiName}  density="compact" onsubmit={handleSubmit}>
                    <template for:each={feildsname} for:item="feilds">
                        <div key={feilds}>
                        <lightning-input-field  field-name={feilds} >
                            </lightning-input-field>
                            </div>
                        </template>
                        <lightning-button class="slds-m-top_small"
                         type="submit"
                         variant="Brand"
                         label="Create new"></lightning-button>
                    </lightning-record-edit-form>
                </template>
            </div>
            <!-- Modal/Popup Box LWC footer starts here -->
            <!-- <footer class="slds-modal__footer">
                <lightning-button onclick={closeCreateModal} variant="brand"  label="close">
                </lightning-button>
            </footer> -->
        </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
    
</template>