<!--
  @description       : Custom Toast
  @author            : mishramayank@concret.io
  @group             : 
  @last modified on  : 12-04-2020
  @last modified by  : ChangeMeIn@UserSettingsUnder.SFDoc
  Modifications Log 
  Ver   Date         Author                               Modification
  1.0   12-02-2020   mishramayank@concret.io                Initial Version
-->
<template>
    <template if:true={showToastBar}>
        <div class="slds-notify_container">
            <div class={outerClass} role="status">
                <span class="slds-assistive-text">{type}</span>
                <span class={innerClass} title={message}>
                    <lightning-icon icon-name={getIconName} alternative-text="icon" styleclass="slds-icon slds-icon_small" variant="inverse" size="small"></lightning-icon>
                </span>
                <div class="slds-notify__content">
                    <h2 class="slds-text-heading_small">{message}</h2>
                </div>
                <div class="slds-notify__close">
                    <lightning-button-icon icon-name="utility:close" size="small" variant="border-filled" class="slds-button slds-button_icon slds-button_icon-inverse" alternative-text="next" onclick={closeToast} ></lightning-button-icon>
                </div>
            </div>
        </div>
    </template>
</template>